.container{
	position: relative;
    width: 400px;
    height: 266px;
    margin: 50px auto;
    overflow: hidden;
}
.container ul {
    width: 2000px;
    padding: 0;
}
.container ul li {
    list-style: none;
    width: 400px;
    height: 266px;
    display: inline;
}
.left {
	position: absolute;
	overflow: auto;
	top: 133px;
}
.right {
	position: absolute;
	overflow: auto;
	right: 0px;
	top: 133px;
}